:root {
  --col-gap: 5%;
  --row-gap: 5%;
  --cube-perspective: 99999999px;
  --cube-face-border: 1px solid #fff;
  --cube-face-bg: #120f17;
}

.default-animation {
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1;
}

.default-animation--scene {
  display: grid;
  width: 100%;
  height: 100%;
  grid-auto-rows: 1fr;
  column-gap: var(--col-gap);
  row-gap: var(--row-gap);
  perspective: var(--cube-perspective);
}

.cube {
  position: relative;
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  transform-style: preserve-3d;
}

.cube::before {
  content: "";
  position: absolute;
  inset: -36px;
}

.default-animation .cube-face {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: var(--cube-face-border);
  background: var(--cube-face-bg);
  box-shadow: var(--cube-face-shadow);
  opacity: 1;
}

.default-animation .cube-face--top {
  transform: translateY(-50%) rotateX(90deg);
}

.default-animation .cube-face--bottom {
  transform: translateY(50%) rotateX(-90deg);
}

.default-animation .cube-face--left {
  transform: translateX(-50%) rotateY(-90deg);
}

.default-animation .cube-face--right {
  transform: translateX(50%) rotateY(90deg);
}

.default-animation .cube-face--back,
.default-animation .cube-face--front {
  transform: rotateY(-90deg) translateX(50%) rotateY(90deg);
}

@media (prefers-reduced-motion: reduce) {
  .cube {
    transform: none !important;
  }
}
